@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#profile-pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 25px;
}

.w75{
    color: white;
  
}

.title{
    color: aquamarine;
    style: bold;
    font-size: 20px;
    margin-top: 25px;
}

li{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
}

.textcenter{
    font-family: 'Roboto Condensed', sans-serif;
}

.row{
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 95px;
}

.lead1{
    padding-top: 45px;
    padding-left: 25px;
}