.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}
.icon-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}
.github {
    height: 65px;
    width: 65px;
}

.linkedIn {
    height: 65px;
    width: 65px;
}