.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(127, 255, 212, 0.678);
}
.icon-row {
    display: flex;
    justify-content: center;
}


.github {
    height: 40px;
    width: 40px;
}

.linkedIn {
    height: 40px;
    width: 40px;
}